.fund-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  gap: 8px;

  .fund-contacts-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 20px;

    .fund-contacts-info-description {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: fit-content;
      gap: 4px;
      margin-top: 24px;

      .fund-contacts-info-description-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -3.5%;
        color: #2B384C;
      }

      .fund-contacts-info-description-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -3.5%;
        color: #7B7F8E;
      }
    }

    .fund-contacts-info-contacts {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      gap: 12px;
      margin-top: auto;

      .fund-contacts-info-contacts-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: fit-content;
        gap: 8px;

        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -3.5%;
        color: #1C9BE9;
      }
    }
  }

  .fund-contacts-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 20px;

    .fund-contacts-form-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -3.5%;
      color: #2B384C;
      margin-bottom: 24px;
    }

    .fund-contacts-form-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 24px;

        .form-group-row {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: fit-content;
          gap: 24px;

          .form-group {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: fit-content;
            gap: 8px;

            label {
              font-size: 14px;
              font-weight: 400;
              line-height: 125%;
              letter-spacing: -3.5%;
              color: #7B7F8E;
            }

            .MuiInputBase-root {
              font-family: 'Golos Text', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
              background-color: #F1F1F1 !important;
              border-radius: 10px !important;
            }

            fieldset {
              font-family: 'Golos Text', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
              border-radius: 10px !important;
              border: 1px solid transparent !important;
            }

            input {
              width: calc(100% - 24px);
              height: fit-content;
              background-color: #F1F1F1;
              border-radius: 10px;
              padding: 12px;
              color: #2B384C;
              border: transparent;

              &::placeholder {
                font-size: 16px;
                font-weight: 400;
                line-height: 125%;
                letter-spacing: -3.5%;
                color: #7B7F8E;
              }
            }

            textarea {
              color: #2B384C;

              &::placeholder {
                font-size: 16px;
                font-weight: 400;
                line-height: 125%;
                letter-spacing: -3.5%;
                color: #7B7F8E;
              }
            }

            .error {
              fieldset {
                border: 1px solid #E24343 !important;
              }

              input,
              textarea {
                &::placeholder {
                  color: #2B384C;
                }
              }
            }
          }
        }

        .form-group-error {
          font-size: 16px;
          font-weight: 500;
          line-height: 125%;
          letter-spacing: -3.5%;
          color: #E24343;
        }

        .form-group-submit {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: fit-content;
          gap: 16px;

          .submit-btn {
            width: fit-content;
            height: fit-content;
            min-width: fit-content;
          }

          .form-group-submit-additional-info {
            font-size: 12px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: -3.5%;
            color: #7B7F8E;

            span {
              color: #1C9BE9;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}