.home-page {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  height: 100%;

  .fund-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 84px;
    padding: 44px;

    background-color: #FFFFFF;
    border-radius: 24px;

    .fund-info-img {
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .fund-info-text {
      display: flex;
      flex-direction: row;
      gap: 24px;

      .fund-info-text-title {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 24px;

        h1 {
          text-align: left;
          font-size: 64px;
          font-weight: 600;
          line-height: 100%;
          color: #2B384C;
          letter-spacing: -3.5%;
          margin: 0;
          width: 60%;
        }

        div {
          font-size: 20px;
          font-weight: 500;
          line-height: 120%;
          color: #7B7F8E;
          letter-spacing: -3.5%;
          width: 60%;
        }
      }

      .fund-info-text-description {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;

        .fund-info-text-description-text {
          font-size: 32px;
          font-weight: 600;
          line-height: 120%;
          color: #2B384C;
          letter-spacing: -3.5%;
        }

        .fund-info-text-description-text-strong {
          margin: 0;
          color: #1C9BE9;
        }

        button {
          width: fit-content;
        }
      }
    }
  }

  .fund-programs {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .fund-programs-title {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .fund-programs-list-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      
      /* Дочірні елементи займають половину ширини мінус gap */
      > * {
        flex: 0 0 calc(50% - 8px);
        min-width: 0;
      }

      .fund-programs-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
        gap: 24px;
        
        background-color: #FFFFFF;
        border-radius: 24px;

        .fund-programs-list-item-info {
          display: flex;
          width: 60%;
          flex-direction: column;
          justify-content: space-between;

          .fund-programs-list-item-info-text-container {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .fund-programs-list-item-info-title {
              font-size: 32px;
              font-weight: 600;
              line-height: 120%;
              color: #2B384C;
              letter-spacing: -3.5%;
            }

            .fund-programs-list-item-info-description {
              font-size: 16px;
              font-weight: 400;
              line-height: 120%;
              color: #7B7F8E;
              letter-spacing: -3.5%;
            }
          }

          .fund-programs-list-item-info-buttons {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            gap: 8px;
          }
        }

        .fund-programs-list-item-img {
          display: flex;
          width: 40%;
          margin-bottom: -32px;
          margin-right: -32px;
          align-items: flex-end;
          justify-content: flex-end;

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .fund-partners {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;

    .fund-partners-title {
      display: flex;
      flex-direction: column;
      gap: 8px;

      div {
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        color: #7B7F8E;
        letter-spacing: -3.5%;
      }

      h2 {
        margin: 0;
        font-size: 48px;
        font-weight: 600;
        line-height: 120%;
        color: #2B384C;
        letter-spacing: -3.5%;
      }
    }

    .fund-partners-list-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 32px;
      padding: 20px;
      overflow: hidden;

      background-color: #FFFFFF;
      border-radius: 24px;

      .fund-partners-list-item {
        display: flex;
        width: calc((100% - 40px - (32px * 5)) / 6); /* +/- 6 елементів */
        align-items: center;
        justify-content: center;
        user-select: none;

        img {
          width: 100%;
          object-fit: contain;
          user-select: none;
          pointer-events: none;
          filter: grayscale(100%);
          transition: filter 0.3s ease-in-out;
        }

        &:hover {
          img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
} 
